@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Poppins;

}
body{
    min-height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E0E8FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.content{
    width:450px;
    background-color: #fff;
    border-radius: 1rem;

}
.header img{
    border-radius: 1rem 1rem 0 0;
}
.main{
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.title{
    padding:20px 0px 0px 0px ;
    font-size: 22px;
    text-align: center;
    font-weight: bold;

}
.text_1{
    padding: 3% 8% 3% 8%;
    text-align: center;
    font-size: 11px;
}
.music{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #e9eef5;
}

.info{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.text_bold{
    font-weight: bold;
}
.link{
    color:  hsl(228, 45%, 44%);
    text-decoration: underline;
    cursor: pointer;
}
.btn{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
button{
    padding: .7rem;
    border-radius: 1rem;
    border: none;
}
.button{
    background-color: #3929DF;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.button_2{
    background-color: #fff;
    color: #3f3f3f;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    body{
        background-image: url(./images/pattern-background-mobile.svg);
    }
}